*.pyc
*.idea/
local_settings.py
Procfile.txt
Procfile*.txt
nbproject
*.txt~
*.css~
*.sql
*.py~
.gitignore~
*.html~
media/
students/fixtures/
students/tests.py
Procfile~.txt
password.txt
*∼
*.egg-info
*.mo
*.egg
db.py