{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Облік відвідування{% endblock meta_title %}

{% block title %}Облік відвідування{% endblock title %}

{% block content %}

<!-- Start Students Listing-->
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<h5 align="center"><a href="">&larr;</a> Вересень 2016 <a href="">&rarr;</a></h5>
			<th><a href="">№</a></th>
			<th>Студент</th>
			<th>Пн</br>1</th><th>Вт </br>2</th><th>Ср </br>3</th><th>Чт </br>4</th><th>Пт </br>5</th><th>Пн </br>6</th><th>Вт </br>7</th><th>Ср </br>8</th><th>Чт </br>9</th><th>Пт </br>10</th><th>Пн </br>11</th><th>Вт </br>12</th><th>Ср </br>13</th><th>Чт </br>14</th><th>Пт </br>15</th><th>Пн </br>16</th><th>Вт </br>17</th><th>Ср </br>18</th><th>Чт </br>19</th><th>Пт </br>20</th><th>Пн </br>21</th><th>Вт </br>22</th><th>Ср </br>23</th><th>Чт </br>24</th> <th>Пт </br>25</th><th>Пн </br>26</th><th>Вт </br>27</th><th>Ср </br>28</th><th>Чт </br>29</th><th>Пт </br>30</th>
		</tr>
	</thead>
	<tbody>
		{% for journal in journals %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td><a href="">{{journal.student}}</a></td>
			<td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"><a href=""</td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td>
		</tr>

		{% endfor %}
	</tbody>
</table>
{% endblock content %}